<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <!-- 要儲存Log的方式記錄在此 -->
	
    <target name="file" xsi:type="File"
            fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.txt"
            layout="${longdate} | ${level:uppercase=true} | TID:${threadid} | ${message} ${newline}" />
    <target name="log" xsi:type="File"
            fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.txt"
            layout="${longdate} | ${level:uppercase=true} | TID:${threadid} | ${message} ${newline}" />
    <target name="eventlog" xsi:type="EventLog"
        source="Lab_Of_NLog" log="Application"
        layout="${date}: ${message} ${stacktrace}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
	
	<!--
		這邊設定什麼樣的等級要做Log,而writeTo對照上方的Target，搭配看要用什麼方式記錄
		隨時可以註解掉，來關閉/打開相關的Log，不影響程式
	-->
	
    <logger name="*" levels="Info" writeTo="log" />
	<!--
    <logger name="*" levels="Trace" writeTo="file" />
    <logger name="*" level="Fatal" writeTo="eventlog" />
    -->

  </rules>
</nlog>